*,
* ::after,
* ::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
  width: 50rem;
}

.searchbox-container {
  background: #191919;
  margin: 0rem 0rem 0rem 0rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  width: auto;
  display: flex;
  cursor: pointer;
}

.searchbox {
  width: 100%;
  height: 3rem;
  border: 1px solid #474646;
  border-radius: 30px;
  background: #191919;
  padding-left: 1rem;
  padding-right: 3rem;
  color: #b8b8b8;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #7c7c7c;
  font-size: 24px;
  cursor: pointer;
}

.search-icon:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Noto Serif";
  margin-top: 1rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list li {
  list-style: none;
}