*,
* ::after,
* ::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Header */
.header-wrapper {
  display: flex;
  flex-direction: column;
}

.searchbox-container {
  background: #191919;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  display: flex;
  cursor: pointer;
}

.searchbox {
  width: 50rem;
  height: 3rem;
  padding-left: 12px;
  border: 1px solid #474646;
  border-radius: 30px;
  background: #191919;
  color: #b8b8b8;
}

.search-icon {
  position: absolute;
  top: 3%;
  right: 31%;
  color: #d6d5d5;
  font-size: 24px;
  cursor: pointer;
}

.search-icon:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.header-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon-person {
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}

.icon-person:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.shopping_cart {
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
}

.shopping_cart:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.nav-links-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Noto Serif";
  margin-top: 1rem;
}

.nav-ul-links {
  display: flex;
  gap: 2rem;
}

.nav-ul-links li {
  list-style: none;
  color: #191919;
}

.nav-ul-links a {
  text-decoration: none;
}

/* Main - Fragrances Catalog */
.product-card-wrapper {
  background-color: rgba(207, 205, 205, 0.582);
}

.products-catalog-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

.azure-fragrance {
  display: flex;
  flex-direction: column;
}

.products-ul {
  display: flex;
}

.products-ul li {
  list-style: none;
}

.products-ul li a {
  color: #191919;
}

.products-ul a {
  text-decoration: none;
}

.star-icon {
  color: rgb(253, 190, 73) !important;
}

.azure-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.azure-fragrance-img {
  display: flex;
}

.azure-name-div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem 0rem 0rem 0rem;
}

.price-span {
  display: flex;
  padding: 0rem 0rem 0.5rem 0rem;
}

.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6ac68;
  border: transparent;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0.3rem 7rem 0.3rem 7rem;
  border-radius: 30px;
  cursor: pointer;
}

/* Fragrances Catalog */
.azure-fragrance {
  height: 200px;
  width: auto;
}

/* Footer Wrapper } */ 
.footer-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Footer Social Media */
.social-icons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  background-color: #191919e3;
  padding: 1.5rem 0rem
}

.social-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(240, 239, 239);
  font-size: 18px;
  gap: 1rem;
}

.social-icons li {
  list-style: none;
  background-color: #ddb575;
  width: 40px;
  height: 40px;
  border: 1px solid #ddb575;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.social-icons li:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 0px 2px rgb(240, 239, 239);
}

.social-icons a {
  text-decoration: none;
  color: rgb(240, 239, 239);
}

.social-icons .youtube-icon {
  font-size: 20px;
  transform: scale(1.2);
}

/* Footer */
.footer-bottom-section {
  display: flex;
  justify-content: center;
  font-size: 18px;
  flex: 1;
  background: rgba(8, 8, 8, 0.973);
  color: rgba(214, 214, 214, 0.829);
}

.footer-links {
  display: flex;
}

.footer-links li {
  list-style: none;
}

.footer-ul {
  display: flex;
  gap: 6rem;
  margin-top: 5rem;
}

.footer-links .first-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.footer-links .second-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.footer-links .third-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.footer-links .fourth-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.third-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}