*,
* ::after,
* ::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Header */
.input-wrapper {
  position: relative;
  width: 50rem;
}

.searchbox-container {
  background: #191919;
  margin: 0rem 0rem 0rem 0rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  width: auto;
  display: flex;
  cursor: pointer;
}

.searchbox {
  width: 100%;
  height: 3rem;
  border: 1px solid #474646;
  border-radius: 30px;
  background: #191919;
  padding-left: 1rem;
  color: #b8b8b8;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #d6d5d5;
  font-size: 24px;
  cursor: pointer;
}

.search-icon:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.user-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 10rem;
}

.icon-person {
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}

.icon-person:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.shopping_cart {
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
}

.shopping_cart:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Noto Serif";
  margin-top: 1rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list li {
  list-style: none;
  color: #191919;
}

.nav-list a {
  text-decoration: none;
}

/* Footer */
.social-icons-wrapper {
  background-color: #191919e3;
  padding: 1.5rem 0rem
}

.social-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(240, 239, 239);
  font-size: 18px;
  gap: 1rem;
}

.social-icons li {
  list-style: none;
  background-color: hsl(37, 57%, 62%);
  padding: 0.5rem 0.6rem 0.3rem 0.6rem;
  border: 1px solid #d6ac68;
  border-radius: 50%;
  cursor: pointer;
}

.social-icons li:hover {
  transform: scale(1.1);
  transition: ease all 0.4s;
  box-shadow: 0px 0px 0px 2px rgb(240, 239, 239);
}

.social-icons a {
  text-decoration: none;
  color: rgb(240, 239, 239);
}

.social-icons .youtube-icon {
  font-size: 20px;
  transform: scale(1.2);
}