*,
* ::after,
* ::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

.header-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Header */
.header-top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbox-container {
  width: 100%;
  background: #191919;
  padding: 1.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  display: flex;
  cursor: pointer;
}

.searchbox {
  margin: 0rem 7rem 0rem 0rem;
  width: 55rem;
  height: 3rem;
  padding-left: 12px;
  border: 1px solid #474646;
  border-radius: 30px;
  background: #191919;
  color: #b8b8b8;
}

.search-icon {
  position: relative;
  top: 8px;
  right: 160px;
  color: #d6d5d5;
  font-size: 24px;
  cursor: pointer;
}

.search-icon:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.header-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon-person {
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}

.icon-person:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.4s;
}

.shopping_cart {
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
}

.shopping_cart:hover {
  color: rgba(241, 241, 60, 0.658);
  transition: ease all 0.2s;
}

.nav-links-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Noto Serif";
  padding-top: 1rem;
}

.nav-ul-links {
  display: flex;
  height: 1.75rem;
  gap: 2rem;
}

.nav-ul-links .new-arrivals li {
  position: relative;
}

.new-arrivals li:hover {
  color: #f1c47a;
}

.new-arrivals li::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  height: 1px;
  transition: ease-in 0.3s;
}

.new-arrivals li:hover::before {
  width: 100%;
}

 /* .new-arrivals li:hover {
  color: #f1c47a;
  border-bottom: 3px solid #f1c47a;
}

.promotions li:hover {
  color: #f1c47a;
  transition: 0.2s;
  border-bottom: 3px solid #f1c47a;
}

.perfumes li:hover {
  color: #f1c47a;
  transition: 0.2s;
  border-bottom: 3px solid #f1c47a;
}

.manufacturers li:hover {
  color: #f1c47a;
  transition: 0.2s;
  border-bottom: 3px solid #f1c47a;
}

.sets li:hover {
  color: #f1c47a;
  transition: 0.2s;
  border-bottom: 3px solid #f1c47a;
} 

*/

.nav-ul-links li {
  list-style: none;
  color: #191919;
}

.nav-ul-links a {
  text-decoration: none;
}

/* Main */

/* Footer Wrapper } */ 
.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

/* Footer Social Media */
.social-icons-wrapper {
  display: flex;
  justify-content: center;
  background-color: #191919e3;
  padding: 1.5rem 0rem
}

.social-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(240, 239, 239);
  font-size: 18px;
  gap: 1rem;
}

.social-icons li {
  list-style: none;
  background-color: #ddb575;
  width: 40px;
  height: 40px;
  border: 1px solid #ddb575;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.social-icons li:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 0px 2px rgb(240, 239, 239);
}

.social-icons a {
  text-decoration: none;
  color: rgb(240, 239, 239);
}

.social-icons .youtube-icon {
  font-size: 20px;
  transform: scale(1.2);
}

/* Footer */
.footer-bottom-section {
  display: flex;
  justify-content: center;
  font-size: 18px;
  background: rgba(8, 8, 8, 0.973);
  color: rgba(214, 214, 214, 0.829);
}

.footer-links {
  display: flex;
  padding: 2.25rem 0rem 2.25rem 0rem;
}

.footer-links li {
  list-style: none;
}

.footer-ul {
  display: flex;
  gap: 6rem;
}

.footer-links .first-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.footer-links .second-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.footer-links .third-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.footer-links .fourth-heading {
  font-weight: 900;
  color:rgba(255, 255, 255, 0.897)
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.third-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}